@import "./Reset.scss";
@import "./Variables.scss";
@import "./Fonts.scss";

.background-color {
	background-color: $color-black;
}

.font-color {
	color: $color-white;
}

.button {
	display: inline-block;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow:0.5rem 0.5rem 1rem #808080;
	transition: all .5s ease-out;
	cursor:pointer;
}

.button:hover {
	box-shadow:0rem 0rem 0rem #808080;
}