@import "./Reset.scss";
@import "./Variables.scss";
@import "./Fonts.scss";

#coming-soon {
	background-color: $color-mustard-gold;
	padding-top: $spacer-five;
	padding-bottom: $spacer-five;
	
	.sign-up {
		margin-bottom: $spacer-one;
		color: $color-burgundy;
	}

	.title {
		color: $color-white;
		margin-bottom: $spacer-three;
		text-shadow: 0.7rem 0.7rem $color-burgundy;
	}

}