@import "./Reset.scss";
@import "./Variables.scss";
@import "./Fonts.scss";

#coming-soon {
	height: 100vh;
	background-color: $color-mustard-gold;

	.content {
		top: 45%;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
	
	.sign-up {
		margin-bottom: $spacer-one;
		color: $color-burgundy;
	}

	.title {
		color: $color-white;
		margin-bottom: $spacer-three;
		text-shadow: 0.7rem 0.7rem $color-burgundy;
	}

}