/**
 * Fonts.scss
 *
 * Author: @sravyabalasa
 * Date: December 26, 2020
 * Description: Fonts to be used throughout the stylesheets
 */

@import "~@fontsource/rubik/index.css";
@import "~@fontsource/rubik/300.css";
@import "~@fontsource/rubik/700.css";

html {
	@media screen and (min-width: $lg) {
		font-size: 10px;
	}

	@media screen and (min-width: $md) and (max-width: $lg) {
		font-size: 8px;
	}

	@media screen and (min-width: $sm) and (max-width: $md) {
		font-size: 6px;
	}

	@media screen and (max-width: $sm) {
		font-size: 6px;
	}
}

@font-face {
	font-family: Love Craft, Arial, Helvetica, sans-serif;
	src: url("./fonts/Love Craft.ttf") format("ttf");
}

h1 {
	font-family: "Love Craft";
	font-size: 9.0rem;
	letter-spacing: 0.4rem;
  }
  
  h2 {
	font-family: "Rubik";
	font-weight: 300;
	font-size: 7.0rem;
	line-height: 6.8rem;
  }
  
  h3 {
	font-family: "Rubik";
	font-size: 3.2rem;
	line-height: 3.2rem;
  }
  
  h4 {
	font-family: "Rubik";
	font-weight: 800;
	font-size: 2.4rem;
	line-height: 2.4rem;
  }
  
  h5 {
	font-family: "Rubik";
	font-size: 2.2rem;
	line-height: 2.4rem;
  }
  
  h6 {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 2.3rem;
	line-height: 2.3rem;
  }
  
  p {
	font-family: "Rubik";
	font-size: 2.0rem;
	// line-height: 2.4rem;
  }
  
  a {
	text-decoration: none;
	cursor: pointer;
  }