@import "./Reset.scss";
@import "./Variables.scss";
@import "./Fonts.scss";

#form {
	form {
		display:flex;
		flex-direction:row;
		border-radius: 1.5rem;
		padding: 1rem 1rem 1rem 2rem;
		background-color: $color-burgundy;
	}

	input {
		border: none;
		flex-grow: 2;
		background-color: $color-burgundy;
		color:$color-white; 
	}

	button {
		border: none;
		padding: 1.5rem;
		border-radius: 1rem;
		color: $color-burgundy;
		background-color: $color-white;
		transition: all .5s ease-out;
		cursor: pointer;
	}

	button:disabled {
		opacity: 0.4
	}

	button:hover:enabled {
		opacity: 0.8
	}

	::placeholder {
		color: $color-white;
		opacity: 0.8;
	}

	input:focus, button:focus {
		outline: none;
	}
}