@import "./Reset.scss";
@import "./Variables.scss";
@import "./Fonts.scss";

#mission {
	background-color: $color-mustard-gold;
	padding-top: $spacer-five;
	padding-bottom: $spacer-five;
	
	.title {
		color: $color-medium-beige;
		margin-bottom: $spacer-three;
		text-shadow: 0.7rem 0.7rem $color-medium-rose;
	}
	
	.statement {
		color: $color-medium-beige;
	}
}