@import "./Reset.scss";
@import "./Variables.scss";
@import "./Fonts.scss";

#navbar {
	position: fixed;
	padding-left: $spacer-two;
	padding-right: $spacer-two;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	z-index: 15000;
	right: 0;
	left: 0;
	display: flex; 
	align-items: center;  
	justify-content: left;
	background-color: $color-light-beige;

	.img-container {
		width: 80%;
	}
	
	.links-container {
		width: 20%;
		text-align: right;
	}
	
	.logo {
		height: 6rem;
	}

	.icon {
		padding-left: 2rem;
		font-size: 3rem;
	} 
}