@import "./Reset.scss";
@import "./Variables.scss";
@import "./Fonts.scss";

#trend {
	background-color: $color-medium-rose;
	padding-top: $spacer-five;
	padding-bottom: $spacer-five;
	
	.title {
		color: $color-medium-beige;
		margin-bottom: $spacer-three;
		text-shadow: 0.7rem 0.7rem $color-mustard-gold;
	}

	.statement {
		margin-top: $spacer-two;
		color: $color-medium-beige; 
	}
		
}